{% extends "main/base.html" %}
{% block head %}
    {{ super() }}
    <style>
        a {
            filter: drop-shadow(0.05em 0.05em 0.05em black);
            font-family: 'bogart-regular-trial';
        }
    </style>
{% endblock head %}
{% block title %} - Admin{% endblock title %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #165a72;">
    <div class="container-fluid">
        <a class="navbar-brand" href="admin" style="color: #D8BF69;">Footage</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="about" style="color: #E9DCB9;">About</a>
                <a class="nav-link" href="projects" style="color: #E9DCB9;">Projects</a>
                <a class="nav-link" href="qna" style="color: #E9DCB9;">Q&A</a>
                <a class="nav-link" href="contact" style="color: #E9DCB9;">Contact</a>
                <a class="nav-link" href="{{ url_for('logout') }}" style="color: #E9DCB9;">Log out</a>
            </div>
        </div>
    </div>
</nav>
{% endblock content %}
{% block footer %}
{% endblock footer %}
