{% extends "main/base.html" %}
{% block content %}
    <div id="fullpage">
        <div class="section sec-1">Home</div>
        <div class="section sec-2">
            <img class="point-left-top" src="/static/images/point.png">
            <img class="point-right-top" src="/static/images/point.png">
            <img class="point-left-bottom" src="/static/images/point.png">
            <img class="point-right-bottom" src="/static/images/point.png">
            About
        </div>
        <div class="section sec-3">Projects</div>
        <div class="section sec-4">
            <img class="point-left-top" src="/static/images/point.png">
            <img class="point-right-top" src="/static/images/point.png">
            <img class="point-left-bottom" src="/static/images/point.png">
            <img class="point-right-bottom" src="/static/images/point.png">
            Q&A
        </div>
        <div class="section sec-5">
            <img class="point-left-top" src="/static/images/point.png">
            <img class="point-right-top" src="/static/images/point.png">
            <img class="point-left-bottom" src="/static/images/point.png">
            <img class="point-right-bottom" src="/static/images/point.png">
            Contact
        </div>
    </div>
{% endblock content %}
{% block footer %}
    <script>
        $('#fullpage').fullpage({
            verticalCentered: false
        });
        // $.fn.fullpage.moveTo(1)
    </script>
{% endblock footer %}
