{% extends "main/base.html" %}
{% block content %}
    <div id="fullpage">
        <div class="section sec-1"></div>
        <div class="section sec-2">
            <img class="point-left-top" src="/static/images/point.png">
            <img class="point-right-top" src="/static/images/point.png">
            <img class="point-left-bottom" src="/static/images/point.png">
            <img class="point-right-bottom" src="/static/images/point.png">
        </div>
        <div class="section sec-3">
            <img class="point-left-top" src="/static/images/point.png">
            <img class="point-right-top" src="/static/images/point.png">
            <img class="point-left-bottom" src="/static/images/point.png">
            <img class="point-right-bottom" src="/static/images/point.png">
        </div>
        <div class="section sec-4">
            <img class="point-left-top" src="/static/images/point.png">
            <img class="point-right-top" src="/static/images/point.png">
            <img class="point-left-bottom" src="/static/images/point.png">
            <img class="point-right-bottom" src="/static/images/point.png">
        </div>
        <div class="section sec-5">
            <img class="point-left-top" src="/static/images/point.png">
            <img class="point-right-top" src="/static/images/point.png">
            <img class="point-left-bottom" src="/static/images/point.png">
            <img class="point-right-bottom" src="/static/images/point.png">
        </div>
    </div>
    <div id="sidebar" class="flex-column">
        <div class="vertical-middle" style="height: 24%;"></div>
        <div class="vertical-middle" style="height: 17%;">
            <img class="clickable" src="/static/images/logo.png" onclick="$.fn.fullpage.moveTo(1)" style="max-width: 13em;margin-right: 1.5em;">
        </div>
        <div class="vertical-middle clickable" style="height: 6.5%;" onclick="$.fn.fullpage.moveTo(2)">
            <div class="col-4" style="text-align: right;">
                <span class="sidebar-text" id="sidebarText2">About</span>
            </div>
            <div class="col-3"></div>
            <div class="col-5" style="text-align: left;">
                <img src="/static/images/point.png" style="max-width: 1.3em">
            </div>
        </div>
        <div class="vertical-middle clickable" style="height: 6.5%;" onclick="$.fn.fullpage.moveTo(3)">
            <div class="col-4" style="text-align: right;">
                <span class="sidebar-text" id="sidebarText3">Projects</span>
            </div>
            <div class="col-3"></div>
            <div class="col-5" style="text-align: left;">
                <img src="/static/images/point.png" style="max-width: 1.3em;">
            </div>
        </div>
        <div class="vertical-middle clickable" style="height: 6.5%;" onclick="$.fn.fullpage.moveTo(4)">
            <div class="col-4" style="text-align: right;">
                <span class="sidebar-text" id="sidebarText4">Q&A</span>
            </div>
            <div class="col-3"></div>
            <div class="col-5" style="text-align: left;">
                <img src="/static/images/point.png" style="max-width: 1.3em;">
            </div>
        </div>
        <div class="vertical-middle clickable" style="height: 6.5%;" onclick="$.fn.fullpage.moveTo(5)">
            <div class="col-4" style="text-align: right;">
                <span class="sidebar-text" id="sidebarText5">Contact</span>
            </div>
            <div class="col-3"></div>
            <div class="col-5" style="text-align: left;">
                <img src="/static/images/point.png" style="max-width: 1.3em;">
            </div>
        </div>
        <div class="vertical-middle" style="height: 2%;"></div>
        <div class="vertical-middle" style="height: 9%;">
            <div class="col-7"></div>
            <div class="col-5" style="text-align: left;">
                <img class="clickable" src="/static/images/point.png" style="max-width: 1.3em;">
            </div>
        </div>
        <div class="vertical-middle" style="height: 9%;">
            <div class="col-7"></div>
            <div class="col-5" style="text-align: left;">
                <img class="clickable" src="/static/images/point.png" style="max-width: 1.3em;">
            </div>
        </div>
        <div class="vertical-middle" style="height: 11%;"></div>
        <div class="vertical-middle" style="height: 2%;"></div>
    </div>
{% endblock content %}
{% block footer %}
    <script>
        $(function() {
            $('#fullpage').fullpage({
                verticalCentered: false,
                onLeave: function(origin, destination, direction) {
                    $('.sidebar-text').css('color', '#FFF4C1');
                    for (let i = 2; i <= 5; i++) {
                        if (destination === i) {
                            $('#sidebarText' + i.toString()).css('color', '#C6A300');
                        }
                    }
                }
            });
        });
    </script>
{% endblock footer %}
