{% extends "main/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block head %}
    {{ super() }}
    <style>
        form {
            width: 18em;
        }

        .form-group {
            margin: 1em;
        }

        input[type=submit] {
            width: 40%;
            margin: 5% 30% 0 30%;
        }
    </style>
{% endblock head %}
{% block title %} - Login{% endblock title %}
{% block content %}
<div class="flex-column" style="height: 100vh;">
    <div class="vertical-middle" style="height: 6%;"></div>
    <div class="vertical-middle" style="height: 21%;">
        <h1 style="color: #D8BF69;filter: drop-shadow(0.05em 0.05em 0.05em black);">Footage</h1>
    </div>
    <div class="vertical-middle" style="height: 45.5%;">
        <div class="vertical-middle" style="height: 100%;width: 22.5em;background-color: white;border-radius: 1.5em;">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    <div class="vertical-middle" style="height: 27.5%;"></div>
</div>
{% endblock content %}
{% block footer %}
    <script>
        $(function() {
            $('input[type="submit"]').addClass('btn-success');
        });
    </script>
{% endblock footer %}
