{% extends "main/base.html" %}
{% block head %}
    {{ super() }}
    <style>
        a {
            filter: drop-shadow(0.05em 0.05em 0.05em black);
            font-family: 'bogart-regular-trial';
        }
    </style>
{% endblock head %}
{% block title %} - Projects{% endblock title %}
{% block content %}
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #165a72;">
        <div class="container-fluid">
            <a class="navbar-brand" href="admin" style="color: #D8BF69;">Footage</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="about" style="color: #E9DCB9;">About</a>
                    <a class="nav-link" href="projects" style="color: #E9DCB9;">Projects</a>
                    <a class="nav-link" href="qna" style="color: #E9DCB9;">Q&A</a>
                    <a class="nav-link" href="contact" style="color: #E9DCB9;">Contact</a>
                    <a class="nav-link" href="{{ url_for('logout') }}" style="color: #E9DCB9;">Log out</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="flex-column">
        <div style="height: 1.3em;"></div>
        <div class="vertical-center" style="height: 10.8em;">
            <h1 style="color: #D8BF69;filter: drop-shadow(0.05em 0.05em 0.05em black);font-family: 'bogart-regular-trial';">Projects - I</h1>
        </div>
        <div class="row g-0" style="height: 25em;">
            <div class="col-1"></div>
            <div class="col-10" style="height: 100%;">
                <div style="height: 100%;background-color: white;border-radius: 1.5em;padding: 1em;">
                    <div class="d-flex flex-wrap justify-content-center" style="max-height: 100%;overflow: scroll;">
                        {% for image in projects1 %}
                            <div class="flex-column" style="height: 10em;width: 10em;margin: 1em;">
                                <div class="vertical-center" style="height: 85%;">
                                    <img src="{{ url_for('static', filename='images/projects-1/' + image)}}" style="max-height: 100%; max-width: 100%;">
                                </div>
                                <div class="vertical-center" style="height: 15%;">
                                    <span style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">{{ image }}</span>
                                    <i class="fa fa-times clickable" style="color: red;font-size: 1.5em;margin-left: 0.2em;" onclick="delProjects(1, '{{ image }}')"></i>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
        <div style="height: 1.3em;"></div>
        <div class="vertical-center" style="height: 10.8em;">
            <h1 style="color: #D8BF69;filter: drop-shadow(0.05em 0.05em 0.05em black);font-family: 'bogart-regular-trial';">Projects - II</h1>
        </div>
        <div class="row g-0" style="height: 25em;">
            <div class="col-1"></div>
            <div class="col-10" style="height: 100%;">
                <div style="height: 100%;background-color: white;border-radius: 1.5em;padding: 1em;">
                    <div class="d-flex flex-wrap justify-content-center" style="max-height: 100%;overflow: scroll;">
                        {% for image in projects2 %}
                            <div class="flex-column" style="height: 10em;width: 10em;margin: 1em;">
                                <div class="vertical-center" style="height: 85%;">
                                    <img src="{{ url_for('static', filename='images/projects-2/' + image)}}" style="max-height: 100%; max-width: 100%;">
                                </div>
                                <div class="vertical-center" style="height: 15%;">
                                    <span style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">{{ image }}</span>
                                    <i class="fa fa-times clickable" style="color: red;font-size: 1.5em;margin-left: 0.2em;" onclick="delProjects(2, '{{ image }}')"></i>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
        <div style="height: 10em;"></div>
    </div>
{% endblock content %}
{% block footer %}
    <script>
        function delProjects(id, filename) {
            if (confirm('Are you sure?')) {
                $.post('del-projects-' + id.toString(), JSON.stringify({ filename: filename })).done(function(data) {
                    location.href = data;
                });
            }
        }
    </script>
{% endblock footer %}
