h4 {
    font-family: 'bogart-regular-trial';
    color: #E9DCB9;
}

/******************** section ********************/

.section {
    background-image: url('/static/images/background.png');
}

.sec-1 {
    background-image: url('/static/images/home.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    margin: 0;
}

.sec-2 {
    height: 100%;
    margin: 0;
}

.sec-3 {
    height: 100%;
    margin: 0;
}

.sec-4 {
    height: 100%;
    margin: 0;
}

.sec-5 {
    height: 100%;
    margin: 0;
}

.projects-1 {
    background-image: url('/static/images/projects-1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.projects-2 {
    background-image: url('/static/images/projects-2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/******************** general ********************/

.drop-shadow {
    filter: drop-shadow(0.1em 0.15em 0.05em black);
}

/******************** sidebar ********************/

#sidebar {
    text-align: center;
    position: fixed;
    display: none;
    height: 100%;
    width: 15em;
    right: 0;
    top: 0;
}

.sidebar-after {
    display: none;
}

/******************** navbar ********************/

.navbar {
    background-image: url('/static/images/background.png');
    display: none;
    z-index: 1;
}

#navbarNav {
    background-image: url('/static/images/background.png');
    height: calc(100% - var(--navbar-height));
    text-align: center;
    position: fixed;
    display: none;
    width: 100vw;
    z-index: 1;
}

.navbar-after {
    display: none;
}

/******************** accordion ********************/

.accordion-item {
    border-width: 0.12em 0 0.12em 0;
    background-color: transparent;
    border-color: #E9DCB9;
    border-style: solid;
    color: #E9DCB9;
}

.accordion-item:first-of-type {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.accordion-item:last-of-type {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.accordion-button {
    background-color: transparent;
    color: #D8BF69;
    padding: 1em;
}

.accordion-button:not(.collapsed) {
    box-shadow: 0 0 0 0 transparent;
    background-color: transparent;
    color: #D8BF69;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23E9DCB9'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23E9DCB9'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button:focus {
    box-shadow: 0 0 0 0 transparent;
}

.accordion-body {
    padding: 0.4em 0.8em 1.3em 0.8em;
    letter-spacing: 0.05em;
    line-height: 2.4em;
}

/******************** other ********************/

@media screen and (max-width: 992px) {
    .sec-2 {
        height: calc(100% - var(--navbar-height));
    }
    
    .sec-3 {
        height: calc(100% - var(--navbar-height));
    }
    
    .sec-4 {
        height: calc(100% - var(--navbar-height));
    }
    
    .sec-5 {
        height: calc(100% - var(--navbar-height));
    }

    #sidebar {
        display: none;
    }
}
