h4 {
    font-family: 'bogart-regular-trial';
    color: #E9DCB9;
}

/******************** section ********************/

.section {
    background-image: url('/static/images/background.png');
}

.sec-1 {
    background-image: url('/static/images/home.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}

.sec-2 {
    height: 100%;
}

.sec-3 {
    height: 100%;
}

.sec-4 {
    height: 100%;
}

.sec-5 {
    height: 100%;
}

.projects-1 {
    background-image: url('/static/images/projects-1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.projects-2 {
    background-image: url('/static/images/projects-2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/******************** general ********************/

.drop-shadow {
    filter: drop-shadow(0.1em 0.15em 0.05em black);
}

/******************** sidebar ********************/

#sidebar {
    text-align: center;
    position: fixed;
    display: none;
    height: 100%;
    width: 15em;
    right: 0;
    top: 0;
}

.sidebar-after {
    display: none;
}

/******************** navbar ********************/

.navbar {
    background-image: url('/static/images/background.png');
    display: none;
    z-index: 1;
}

#navbarNav {
    background-image: url('/static/images/background.png');
    height: calc(100% - var(--navbar-height));
    text-align: center;
    position: fixed;
    display: none;
    width: 100vw;
    z-index: 1;
}

.navbar-after {
    display: none;
}

/******************** other ********************/

@media screen and (max-width: 992px) {
    .sec-2 {
        height: calc(100% - var(--navbar-height));
    }
    
    .sec-3 {
        height: calc(100% - var(--navbar-height));
    }
    
    .sec-4 {
        height: calc(100% - var(--navbar-height));
    }
    
    .sec-5 {
        height: calc(100% - var(--navbar-height));
    }

    #sidebar {
        display: none;
    }
}
