:root {
    --navbar-height: 3.5em;
}

body {
    background-image: url('/static/images/background.png');
    background-color: #165a72;
}

.section {
    height: 100vh;
}

.sec-1 {
    background-image: url('/static/images/home.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}

.sec-2 {
    background-image: url('/static/images/background.png');
    height: 100%;
}

.sec-3 {
    background-image: url('/static/images/background.png');
    height: 100%;
}

.sec-4 {
    background-image: url('/static/images/background.png');
    height: 100%;
}

.sec-5 {
    background-image: url('/static/images/background.png');
    height: 100%;
}

.point-left-top {
    position: absolute;
    max-width: 1.6em;
    left: 0.7em;
    top: 0.7em;
}

.point-right-top {
    position: absolute;
    max-width: 1.6em;
    right: 0.7em;
    top: 0.7em;
}

.point-left-bottom {
    position: absolute;
    max-width: 1.6em;
    left: 0.7em;
    bottom: 0.7em;
}

.point-right-bottom {
    position: absolute;
    max-width: 1.6em;
    right: 0.7em;
    bottom: 0.7em;
}

.clickable {
    cursor: pointer;
}

.drop-shadow {
    filter: drop-shadow(0.15em 0.2em 0.1em black);
}

.vertical-middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sidebar {
    text-align: center;
    position: absolute;
    display: none;
    height: 100vh;
    width: 15em;
    right: 0;
    top: 0;
}

.sidebar-after {
    display: none;
}

.navbar {
    background-image: url('/static/images/background.png');
    display: none;
    z-index: 1;
}

#navbarNav {
    background-image: url('/static/images/background.png');
    height: calc(100% - var(--navbar-height));
    text-align: center;
    position: fixed;
    display: none;
    width: 100vw;
    z-index: 1;
}

.navbar-text {
    font-size: 1.5em;
    color: #FFF4C1;
    text-shadow: 2px 2px 4px black;
    font-family: serif;
    font-weight: bold;
    opacity: 0.9;
}

@media screen and (max-width: 992px), screen and (max-height: 576px) {
    .sec-1 {
        height: calc(100% - var(--navbar-height));
    }
    
    .sec-2 {
        height: calc(100% - var(--navbar-height));
    }
    
    .sec-3 {
        height: calc(100% - var(--navbar-height));
    }
    
    .sec-4 {
        height: calc(100% - var(--navbar-height));
    }
    
    .sec-5 {
        height: calc(100% - var(--navbar-height));
    }

    .point-left-bottom {
        bottom: calc(0.7em + var(--navbar-height));
    }
    
    .point-right-bottom {
        bottom: calc(0.7em + var(--navbar-height));
    }

    #sidebar {
        display: none;
    }

    .navbar {
        display: block;
    }
}
