body {
    background-color: #165a72;
}

.sec-1 {
    background-image: url('/static/images/background.png');
    height: 100vh;
}

.sec-2 {
    background-image: url('/static/images/background.png');
    height: 100vh;
}

.sec-3 {
    background-image: url('/static/images/background.png');
    height: 100vh;
}

.sec-4 {
    background-image: url('/static/images/background.png');
    height: 100vh;
}

.sec-5 {
    background-image: url('/static/images/background.png');
    height: 100vh;
}

.point-left-top {
    position: absolute;
    max-width: 1.6em;
    left: 0.7em;
    top: 0.7em;
}

.point-right-top {
    position: absolute;
    max-width: 1.6em;
    right: 0.7em;
    top: 0.7em;
}

.point-left-bottom {
    position: absolute;
    max-width: 1.6em;
    left: 0.7em;
    bottom: 0.7em;
}

.point-right-bottom {
    position: absolute;
    max-width: 1.6em;
    right: 0.7em;
    bottom: 0.7em;
}

.clickable {
    cursor: pointer;
}

.vertical-middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-text {
    font-size: 1.5em;
    color: #FFF4C1;
    text-shadow: 2px 2px 4px black;
    font-family: serif;
    font-weight: bold;
    opacity: 0.9;
}

#sidebar {
    text-align: center;
    position: absolute;
    display: none;
    height: 100vh;
    width: 15em;
    right: 0;
    top: 0;
}
